.title {
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background-image: -webkit-linear-gradient(left, #209cff 0%, #68e0cf 100%);
  background-image: linear-gradient(to right, #209cff 0%, #68e0cf 100%);
  font-size: 2.2rem;
  color: #fff;
  position: relative;
  padding: 1rem 5rem;
  text-shadow: -2px 1.5px 0 #000;
  margin-bottom: 15px;
}

.side_content {
  display: flex;
  flex-direction: row;
}

.sidemenu {
  width: 10%;
  height: 100%px;
  margin-right: 0px;
  /* border: 1px dashed green; */
}

.maincontent {
  width: 90%;
  margin-left: 0px;
}

.resetbutton {
  margin-left: 20px;
  margin-bottom: 10px;
}

.changebutton {
  margin: 0 auto;
  margin-top: 15px;
}

.content {
  padding-right: 5%;
  padding-left: 5%;
  margin: 0 auto;
  margin-right: 0px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed grey; */
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.calendar {
  padding-left: 80px;
  padding-right: 0px;
}

.inputbox {
  padding-left: 0px;
  margin: 0 auto;
  margin-top: 10px;
  width: 550px;
  height: 150px;
  box-sizing: border-box;
  -webkit-backdrop-fileter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 4px 4px 13px 5px rgba(0, 0, 0, 0.25);
  border: 1px dashed blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  z-index: 100;
}

.information {
  margin-top: 15px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
}

.number {
  /* overflow: scroll; */
  /* position: relative; */
  /* overflow: hidden;
  height: 1px;
  text-overflow: ellipsis; */

  maxheight: 10px;

  margin: 5px;
}

.date {
  margin: 5px;
}

.status {
  margin: 5px;
}

.table {
  margin: 0 auto;
  margin-right: 0px;
  width: 100%;
}
